body{
    background-color: #e0e0e0;
}
h1{
    color: #1b43d3;
    font-size: 60px;
    font-weight: bolder;
    text-shadow: 2px 1px 1px #1b43d3;
}
h3{
    font-size: 32px;
    font-weight: 100;
}
.flex-container{
    display: flex;
    margin-top: 10%;
    flex-direction: row;
    justify-content: space-evenly;
}
.flex1{
    text-align: left;
}
.flex2{
    width: 25%;
    text-align: center;
}
.form{
    /*width: 95%;*/
    border: 1px solid white;
    box-shadow: 1px 1px #f0f0f0;
    background-color: white;
    border-radius: 5px;
    padding-top: 20px;
}
#loginBtn{
    background-color: #1b43d3;
    color: white;
    width: 90%; 
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    font-size: larger;
    border-color: white;
    box-shadow: 1px 1px #f0f0f0;
}

#newAcc{
    font-size: large;
    background-color: #23b623;
    color: white;
    margin-bottom: 40px;
    width: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    border-color: white;

}

.text{
    width: 90%;
    height: 24px;
    border: 1px solid rgb(168, 168, 168);
    font-size: 16px;
}

a[href]{
    text-decoration: none;
}